*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: burlywood;
}

.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px gray;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 3px;
    

}
.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid gray;
}